<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitwork">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LegStep6"></activity>
        <activity android:name=".LegStep5" />
        <activity android:name=".LegStep4" />
        <activity android:name=".LegStep3" />
        <activity android:name=".LegStep2" />
        <activity android:name=".LegStep1" />
        <activity android:name=".ArmStep6" />
        <activity android:name=".ArmStep5" />
        <activity android:name=".ArmStep4" />
        <activity android:name=".ArmStep3" />
        <activity android:name=".ArmStep2" />
        <activity android:name=".ArmStep1" />
        <activity android:name=".ShoulderStep6" />
        <activity android:name=".ShoulderStep5" />
        <activity android:name=".ShoulderStep3" />
        <activity android:name=".ShoulderStep4" />
        <activity android:name=".ShoulderStep2" />
        <activity android:name=".ShoulderStep1" />
        <activity android:name=".AbsStep6" />
        <activity android:name=".AbsStep5" />
        <activity android:name=".AbsStep4" />
        <activity android:name=".AbsStep3" />
        <activity android:name=".AbsStep2" />
        <activity android:name=".AbsStep1" />
        <activity
            android:name=".workouts"
            android:label="@string/title_activity_workouts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginSuccess" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>